head {
    color: greenyellow;

}

body {
    background-color: deepskyblue;
    margin: 50px;
    horiz-align: center;
}
h1 {

}
p {
    color: red;
}
button {
    width: 100px;
    color: black;
}
body {
    font-family: sans-serif;
    horiz-align: center;
}
#message {
    color: black;
    font-size: 25px;
    font-family: "Lucida Console", Monaco, monospace;
    margin-top: 65px;
}
#image {
    margin: auto;
    display: block;
    margin-top: 130px;
}
#title {
    text-align: center;
    font-size: 40px;
    font-family: "Lucida Console", Monaco, monospace;
}
#birthday {
    color: black;
    font-size: 25px;
    font-family: "Lucida Console", Monaco, monospace;
    margin-top: 50px;
}
